{% load static tailwind_tags %} {% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Django Tailwind</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	{% tailwind_css %}
	<link rel="stylesheet" href="{% static '/css/swiper-bundle.min.css' %}" />
</head>

<body class="leading-normal tracking-normal">

	<!-- Nav -->
	<header class="z-20 fixed top-0 left-0 right-0 container mx-auto">
		<div class="flex flex-row items-center justify-between mt-8 h-88 bg-white rounded-large shadow-ssl">
			<div class="flex-none flex items-center w-32 h-8 ml-12 gap-x-1">
				<a href="#">
					<img class="max-h-16 object-contain" src='{% static "/utils/logo.png" %}' />
				</a>
			</div>
			<div class="flex-auto flex flex-row justify-around mx-4">
				<a href="#">Главная</a>
				<a href="#">Галерея</a>
				<a href="#">О проекте</a>
				<a href="#">Приемущества</a>
				<a href="#">Расположение</a>
				<a href="#">Контакты</a>
			</div>
			<div class="flex-none flex flex-row items-center gap-1 mr-12">
				<a href="#">
					<img class="max-h-16 object-contain" src='{% static "/utils/icons/icon_tg.svg" %}' />
				</a>
				<a href="#">
					<img class="max-h-16 object-contain" src='{% static "/utils/icons/icon_watssup.svg" %}' />
				</a>
			</div>
		</div>
	</header>

	<!-- Main -->
	<section class="z-10 container mx-auto mt-40">
		<div class="relative">
			<div class="absolute rounded-3xl opacity-70 bg-back w-full h-full"></div>
			<img class="z-0 rounded-3xl max-h-864 object-cover" src="{% static '/utils/pic.png' %}" alt="">
		</div>

	</section>

	<!-- Photo gelery -->
	<section class="z-10 container mx-auto mt-12 mb-20">

		<div class="flex flex-row items-center justify-center w-full mt-4 mb-8">
			<h2 class="text-4xl">Фотографии проекта</h2>
		</div>

		<!-- Swiper -->
		<div class="swiper mySwiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img class="rounded-2xl drop-shadow-md h-64 w-auto object-cover" src="{% static '/utils/pic.png' %}"
						alt="">
				</div>
				<div class="swiper-slide">
					<img class="rounded-2xl drop-shadow-md h-64 w-auto object-cover" src="{% static '/utils/pic.png' %}"
						alt="">
				</div>
				<div class="swiper-slide">
					<img class="rounded-2xl drop-shadow-md h-64 w-auto object-cover" src="{% static '/utils/pic.png' %}"
						alt="">
				</div>
				<div class="swiper-slide">
					<img class="rounded-2xl drop-shadow-md h-64 w-auto object-cover" src="{% static '/utils/pic.png' %}"
						alt="">
				</div>

			</div>
			<div class="flex flex-row items-center justify-center mt-4">
				<img class="max-h-14 object-contain slidePrev-btn" src='{% static "/utils/icons/pointL.png" %}' />
				<div class="text-center swipPag" style="width: 3.5rem;"></div>
				<img class="max-h-14 object-contain slideNext-btn" src='{% static "/utils/icons/pointR.png" %}' />
			</div>
		</div>

	</section>

	<!-- Get the presentation -->
	<section class="z-10 w-full mb-12 relative">

		<div class="z-10 absolute top-0 left-0 right-0 container mx-auto h-full">
			<div class="relative flex justify-center items-center h-full w-full mx-auto">

				<div class="z-0 absolute bottom-0 right-36">
					<img class="w-4/5 h-full object-contain" src="{% static '/utils/icons/icon_download2.svg' %}"
						alt="">
				</div>

				<div class="mr-44 w-6/12 h-2/3 border border-inherit rounded-2xl backdrop-blur-sm bg-white/10">
					<div class="grid grid-cols-1 content-around h-full text-white ml-16">
						<h2 class="text-2xl font-medium w-64">Скачайте полную презентацию проекта</h2>
						<div class="rounded-4xl w-60 h-16 flex items-center justify-center border border-inherit">
							<h2 class="w-48 text-center font-sm text-base leading-5">Скачать презентацию PDF XXX Мб</h2>
						</div>
					</div>

				</div>

			</div>
		</div>

		<div class="z-0">
			<div class="absolute opacity-70 bg-back w-full h-full"></div>
			<img class="z-0 max-h-500 w-full object-cover" src="{% static '/utils/bg.png' %}" alt="">
		</div>
	</section>

	<!-- Application -->
	<section class="z-10 container mx-auto my-20">
		<div class="relative">
			<div class="absolute rounded-3xl backdrop-blur-sm bg-back/50 w-full h-full">
				<div class="grid grid-cols-3 grid-rows-2 gap-x-4 w-2/3 h-full mx-auto">
					<div class="col-span-3 flex items-center">
						<h2 class="text-white text-2xl font-medium">
							Оставьте свои координаты<br>и мы свяжемся с вами
						</h2>
					</div>
					<div class="flex items-center">
						<input class="rounded-4xl w-full h-12 border border-inherit underline py-4" type="text"
							id="name" name="name" required minlength="4" maxlength="18" placeholder="Имя">
					</div>
					<div class="flex items-center">
						<input class="rounded-4xl w-full h-12 border border-inherit underline py-4" type="tel"
							id="phone" name="phone" required minlength="10" maxlength="15" placeholder="Телефон">
					</div>
					<div class="flex items-center justify-end">
						<button type="submit" class="rounded-4xl w-1/2 h-12 border border-inherit text-white m-0 p-0">
							Отправить
						</button>
					</div>

				</div>
			</div>
			<img class="z-0 rounded-3xl h-52 w-full object-cover" src="{% static '/utils/pic.png' %}" alt="">
		</div>
	</section>

	<!-- About -->
	<section class="w-full mb-12">
		<div class="grid grid-cols-2 gap-4 min-h-600 max-h-864 justify-items-end bg-blue-back">

			<div class="w-5/6 h-full grid grid-cols-3 gap-2 grid-rows-4 gab-2">
				<div class="col-span-3 flex items-end">
					<h2 class="text-white text-2xl font-medium">О проекте</h2>
				</div>
				<div class="col-span-3 row-span-2 flex items-center ">
					<p class="text-white">
						Французская неоклассика, роскошные фасадыиз натурального камня благородного оттенка, дорогие
						интерьеры и ландшафт от европейских партнеров Несколько форматов жилья, включая пентхаусы,
						двухуровневые апартаменты с собственным патио, Garden Villas и апартаменты с отделкой
						Техническое оснащение комплекса на самом высоком уровне, европейские материалы и оборудование,
						комплексное управление инженерными системами последнего поколения.
					</p>
				</div>
				<div class="flex justify-left text-left">
					<div>
						<span class="text-tbrown text-3xl">60</span>
						<h2 class="text-white">Апартаментов</h2>
					</div>

				</div>
				<div class="flex justify-left text-left">
					<div>
						<span class="text-tbrown text-3xl">3</span>
						<h2 class="text-white">Виллы</h2>
					</div>

				</div>
				<div class="flex justify-left text-left">
					<div>
						<span class="text-tbrown text-3xl">4</span>
						<h2 class="text-white">Пентхауса</h2>
					</div>

				</div>

			</div>

			<img class="w-full h-full object-cover" src="{% static '/utils/pic.png' %}" alt="">

		</div>
	</section>

	<!-- Advanteges -->
	<section class="z-10 container mx-auto mt-12 mb-20">

		<div class="flex flex-row items-center justify-center w-full mt-4 mb-8">
			<h2 class="text-4xl">Преимущества Quartier d Qr</h2>
		</div>

		<!-- Swiper -->
		<div class="relative swiper mySwiper2">
			<div class="z-10 absolute w-full h-full grid grid-cols-6 gap-4 justify-items-center content-center">

				<div class="col-start-1 col-end-2 place-self-end">
					<img class="max-h-16 object-contain slidePrev-btn2 " src='{% static "/utils/icons/pointL.png" %}' />
				</div>

				<div class="col-end-7 col-span-1 place-self-start">
					<img class="max-h-16 object-contain slideNext-btn2" src='{% static "/utils/icons/pointR.png" %}' />
				</div>
			</div>

			<div class="swiper-wrapper">
				<div class="swiper-slide relative ease-in-out duration-200">
					<div
						class="absolute rounded-2xl opacity-80 bg-back drop-shadow-md w-full h-full flex justify-center">
						<div class="flex flex-col h-full justify-center items-center space-y-14 max-w-xl">

							<div class="flex justify-center space-x-6 content-center">
								<img class="justify-self-end h-12 w-auto object-contain"
									src="{% static '/utils/icons/icon_architecture.svg' %}" alt="">
								<h2 class="justify-self-start text-tbrown text-2xl font-medium my-auto">Архитекрута</h2>
							</div>

							<div class="flex items-center ">
								<p class="text-white">
									Французская неоклассика, роскошные фасадыиз натурального камня благородного оттенка,
									дорогие
									интерьеры и ландшафт от европейских партнеров Несколько форматов жилья, включая
									пентхаусы,
									двухуровневые апартаменты с собственным патио, Garden Villas и апартаменты с
									отделкой
									Техническое оснащение комплекса на самом высоком уровне, европейские материалы и
									оборудование,
									комплексное управление инженерными системами последнего поколения.
								</p>
							</div>

						</div>
					</div>
					<img class="z-0 rounded-2xl h-600 w-full object-cover" src="{% static '/utils/bg.png' %}" alt="">
				</div>
				<div class="swiper-slide relative ease-in-out duration-200">
					<div
						class="absolute rounded-2xl opacity-80 bg-back drop-shadow-md w-full h-full flex justify-center">
						<div class="flex flex-col h-full justify-center items-center space-y-14 max-w-xl">

							<div class="flex justify-center space-x-6 content-center">
								<img class="justify-self-end h-12 w-auto object-contain"
									src="{% static '/utils/icons/icon_architecture.svg' %}" alt="">
								<h2 class="justify-self-start text-tbrown text-2xl font-medium my-auto">Архитекрута</h2>
							</div>

							<div class="flex items-center ">
								<p class="text-white">
									Французская неоклассика, роскошные фасадыиз натурального камня благородного оттенка,
									дорогие
									интерьеры и ландшафт от европейских партнеров Несколько форматов жилья, включая
									пентхаусы,
									двухуровневые апартаменты с собственным патио, Garden Villas и апартаменты с
									отделкой
									Техническое оснащение комплекса на самом высоком уровне, европейские материалы и
									оборудование,
									комплексное управление инженерными системами последнего поколения.
								</p>
							</div>

						</div>
					</div>
					<img class="z-0 rounded-2xl h-600 w-full object-cover" src="{% static '/utils/pic.png' %}" alt="">
				</div>
				<div class="swiper-slide relative ease-in-out duration-200">
					<div
						class="absolute rounded-2xl opacity-80 bg-back drop-shadow-md w-full h-full flex justify-center">
						<div class="flex flex-col h-full justify-center items-center space-y-14 max-w-xl">

							<div class="flex justify-center space-x-6 content-center">
								<img class="justify-self-end h-12 w-auto object-contain"
									src="{% static '/utils/icons/icon_architecture.svg' %}" alt="">
								<h2 class="justify-self-start text-tbrown text-2xl font-medium my-auto">Архитекрута</h2>
							</div>

							<div class="flex items-center ">
								<p class="text-white">
									Французская неоклассика, роскошные фасадыиз натурального камня благородного оттенка,
									дорогие
									интерьеры и ландшафт от европейских партнеров Несколько форматов жилья, включая
									пентхаусы,
									двухуровневые апартаменты с собственным патио, Garden Villas и апартаменты с
									отделкой
									Техническое оснащение комплекса на самом высоком уровне, европейские материалы и
									оборудование,
									комплексное управление инженерными системами последнего поколения.
								</p>
							</div>

						</div>
					</div>
					<img class="z-0 rounded-2xl h-600 w-full object-cover" src="{% static '/utils/bg.png' %}" alt="">
				</div>
				<div class="swiper-slide relative ease-in-out duration-200">
					<div
						class="absolute rounded-2xl opacity-80 bg-back drop-shadow-md w-full h-full flex justify-center">
						<div class="flex flex-col h-full justify-center items-center space-y-14 max-w-xl">

							<div class="flex justify-center space-x-6 content-center">
								<img class="justify-self-end h-12 w-auto object-contain"
									src="{% static '/utils/icons/icon_architecture.svg' %}" alt="">
								<h2 class="justify-self-start text-tbrown text-2xl font-medium my-auto">Архитекрута</h2>
							</div>

							<div class="flex items-center ">
								<p class="text-white">
									Французская неоклассика, роскошные фасадыиз натурального камня благородного оттенка,
									дорогие
									интерьеры и ландшафт от европейских партнеров Несколько форматов жилья, включая
									пентхаусы,
									двухуровневые апартаменты с собственным патио, Garden Villas и апартаменты с
									отделкой
									Техническое оснащение комплекса на самом высоком уровне, европейские материалы и
									оборудование,
									комплексное управление инженерными системами последнего поколения.
								</p>
							</div>

						</div>
					</div>
					<img class="z-0 rounded-2xl h-600 w-full object-cover" src="{% static '/utils/pic.png' %}" alt="">
				</div>
			</div>
		</div>
	</section>

	<!-- Map -->
	<section class="w-full mt-12 ">
		<div class="flex flex-row items-center justify-center w-full mt-4 mb-8">
			<h2 class="text-4xl">Расположение на карте</h2>
		</div>
		<script type="text/javascript" charset="utf-8" async
			src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa0c01dfeeabfb8cf4a5568f29fbc43a0aeeb946b5bb2d46e1a5099b6b9f9aec8&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;scroll=true"></script>
	</section>

	<!-- Application 2 -->
	<section class="w-full">
		<div class="z-10 absolute w-full h-full max-h-600">
			<div class="container h-full mx-auto">
				<div class="flex flex-col h-full justify-center items-center">

					<div class="z-10 w-2/5 h-4/5 rounded-2xl backdrop-blur-sm border border-inherit bg-white/20">
						<form class="flex flex-col h-full justify-center items-center w-2/3 h-full mx-auto" action="">

							<h2 class="text-white text-2xl font-medium text-center py-8">
								Оставьте свои координаты<br>и мы свяжемся с вами
							</h2>

							<input class="rounded-4xl w-full h-12 border border-inherit underline bg-white my-2"
								type="text" id="name2" name="name" required minlength="4" maxlength="18"
								placeholder="Имя">


							<input class="rounded-4xl w-full h-12 border border-inherit underline bg-white my-2"
								type="tel" id="phone2" name="phone" required minlength="10" maxlength="15"
								placeholder="Телефон">


							<input class="rounded-4xl w-full h-12 border border-inherit underline bg-white my-2"
								type="email" id="email" name="email" required minlength="5" maxlength="20"
								placeholder="Почта">

							<div class="text-white text-xs text-center my-2">
								<input type="checkbox" id="policy" name="policy">
								<label for="policy">Я согласен на обработку моих персональных данных</label>
							</div>
							<button type="submit" class="rounded-4xl w-1/2 h-12 border border-inherit text-white my-2">
								Отправить
							</button>
						</form>
					</div>

				</div>
			</div>
		</div>
		<div class="z-1 absolute opacity-70 bg-back w-full h-full max-h-600"></div>
		<img class="z-0 h-full max-h-600 w-full object-cover" src="{% static '/utils/pic.png' %}" alt="">

	</section>

	<!-- Footer -->
	<footer>

	</footer>

	<script src="{% static '/js/swiper-bundle.min.js' %}" type="application/javascript"></script>
	<script src="{% static '/js/swiper.js' %}" type="application/javascript"></script>
</body>

</html>